@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/nullStyle.scss";
@import "../styles/mediaQuery.scss";
@import "../styles/404.scss";

#root {
  white-space: pre-line;
}

body {
  background-color: black;
}

h1 {
  font-size: 78px;
  letter-spacing: 0.11em;
  color: #ffffff;
  font-weight: 500;
}

h2, .Typewriter > span {
  font-size: 46px;
  letter-spacing: 0.02em;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

h4 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.01em;
}

h5 {
  font-size: 21px;
  font-weight: 500;
}

p,
pre {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
  line-height: 1.8em;
}
pre {
  white-space: break-spaces;
  font-family: "Poppins";
}

a,
.link {
  font-weight: 500;
  font-size: 18px;
  &:active {
    color: #13728b;
  }
}

.container {
  // padding: 0 6.3%;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 900px) {
  h1, .Typewriter > span {
    font-size: 60px;
  }
  h2, .Typewriter > span {
    font-size: 40px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }

  a,
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 656px) {
  h1, .Typewriter > span {
    font-size: 35px;
  }
  h2, .Typewriter > span {
    font-size: 30px;
  }
  h3 {
    font-size: 19px;
  }
  h4 {
    font-size: 16px;
  }

  a,
  p {
    font-size: 12px;
  }
}

.Typewriter {
  width: fit-content;
}

.Typewriter span {
  color: #813e5f;
  white-space: nowrap;
}

.Typewriter__cursor {
  color: #0d6ba5f7 !important
}

#typewriter_splash_screen > .Typewriter__wrapper {
   display: flex;
   flex-wrap: wrap;
}

#typewriter_splash_screen > .Typewriter__wrapper  div {
  flex-basis: 100%;
}